body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
  display: table;
}

ul li {
  display: table-cell;
  /* Units in html correspond to pixels (px), (%), (em, rem)  */
  padding-right: 100px;
  font-size: 21px;
}

ul li a {
  text-decoration: none;
  color: black;
  color: #397fcd;
  font-weight: 700;

  /* text-transform: uppercase; */
}

ul li a:hover{
  color: white;
}
header {
  width: 100%;
  background-color: #f0f8ff3d;
  position: absolute;
  z-index: 1;
}

.container {
  height: 100vh;
}

.container .background-img {
  height: 100%;
  opacity: 0.92;

  position: relative;
  background-image: url("assets/img/pagina_principale.jpg");
}

img{
  height: 60px;
}

.container img {
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 43%;
  height: 48%;
  opacity: 0.9;
}

h1 {
  position: absolute;
  z-index: 1;
  font-size: 50px;
  color: mediumblue;
  top: 50%;
  left: 43%;
}

.description p {
  padding: 0 150px;
}

footer {
  height: 50px;
}

.fab:hover{
  color:black;
}
